PORT=5000
CLIENT_ORIGIN=http://localhost:5173,http://127.0.0.1:5173
MONGODB_URI=mongodb+srv://chat_user:chat_password@cluster0.example.mongodb.net/realtime-chat?retryWrites=true&w=majority
MONGODB_DB_NAME=realtime-chat
MONGODB_MESSAGES_COLLECTION=messages
